<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Alexandria Hotel | Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/site.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/login}" method="post" >
            <div class="form-group">
                <label>User Name:</label>
                <input type="text" class="form-control" placeholder="Enter User Name" name="username">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="text" class="form-control" placeholder="Password" name="password">
            </div>

            <!--<div>
                <label>User Name: <input type="text" name="username"/></label>
                <label>Password: <input type="text" name="password"/></label>
            </div>-->

            <button type="submit" class="btn btn-default" th:text="Login"/>
        </form>
    </div>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">@Copyright 2017 Alexander Olsson</p></div>
        </div>
    </div>
</footer>
</body>
</html>