<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Alexandria Hotel | Rooms</title>
    <link th:href="@{/css/site.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/reservations}">Alexandria Hotels - Reservations</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="page-header">
            <h1>Welcome to the Rooms Page</h1>
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Room Number</th>
                <th>Name</th>
                <th>Bed Info</th>
            </tr>
            <tr th:each="room : ${rooms}">
                <td th:text="${room.number}"></td>
                <td th:text="${room.name}"></td>
                <td th:text="${room.info}"></td>
            </tr>
        </table>
    </div>

    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><p class="text-muted">@Copyright 2017 Alexander Olsson</p></div>
            </div>
        </div>
    </footer>
</body>
</html>